@model IEnumerable<Student>
@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex mb-3">
    <a class="btn btn-primary ms-auto" asp-action="Create">Yeni Öğrenci Ekle</a>
    <form asp-action="QuerySyntax" method="POST" class="mx-2">
        <input type="submit" value="Query Syntax" class="btn btn-primary" />
    </form>
    <form asp-action="MethodSyntax" method="POST" class="mx-2">
        <input type="submit" value="Method Syntax" class="btn btn-primary" />
    </form>
    <form asp-action="RawSql" method="POST" class="mx-2">
        <input type="submit" value="Raw Sql" class="btn btn-primary" />
    </form>
    <form asp-action="BulkInsert" method="POST" class="mx-2">
        <input type="submit" value="BulkInsert" class="btn btn-primary" />
    </form>
    <button class="btn btn-secondary mx-2" id="addStudentsByTransaction">Transaction ile Öğrenci Ekle</button>
</div>

<div class="text-center">
   <table class="table">
       <thead>
           <tr>
               <th>@Html.DisplayNameFor(model => model.Name )</th>
               <th>@Html.DisplayNameFor(model => model.Age )</th>
               <th>@Html.DisplayNameFor(model => model.Department )</th>
               
           </tr>
       </thead>
       <tbody>
           @foreach (var student in Model)
           {
               <tr>
                    <td>@student.Name</td>
                    <td>@student.Age</td>
                    <td>@student.Department</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@student.Id" class="btn btn-dark">Düzenle</a> 
                        <a asp-action="Details" asp-route-id="@student.Id" class="btn btn-info">Detay</a> 
                        <a asp-action="Delete" asp-route-id="@student.Id" class="btn btn-danger">Sil</a>
                    </td>
               </tr>
           }
        </tbody>
    </table>
    <form asp-action="ExcelBulkInsert" method="POST" enctype="multipart/form-data" class="mx-2">
        <div class="input-group">
            <input type="file" name="file" class="form-control" accept=".xlsx, .xls" />
            <button type="submit" class="btn btn-success">Excel'den Aktar</button>
        </div>
    </form>
</div>
@section Scripts{
    <script>
         $(document).ready(function(){
            $("#addStudentsByTransaction").click(function(){

                var students = [
                    { Name: "Ali" , Age: 20 , Department: "Elektronik"},
                    { Name: "Ayşe" , Age: 32 , Department: "Yazılım"},
                ];
                
                $.ajax(
                    {
                        url: '@Url.Action("AddStudentsByTransaction","Home")',
                        type: 'POST',
                        contentType: 'application/json',
                        data:JSON.stringify(students),
                        success: function(){
                            alert("Öğrenciler başarıyla eklendi")
                            location.reload();
                        },
                        error: function(xhr,status,error){
                            alert("Bir Hata oluştu: " + error)
                        }
                    }
                )
            });
        })
    </script>
  
}
