@using _11_Models_Binding.ViewModels
@model KisiAdres

<div class="text-center">
    <p>Ad: @Model.Kisi.Ad</p>
    <p>Soyad: @Model.Kisi.Soyad</p>
    <p>Yas: @Model.Kisi.Yas</p>
    <p>Şehir: @Model.Adres.Sehir</p>
    <p>Adres Tanım: @Model.Adres.AdresTanim</p>
</div>