@model _12_Fluent_Validation.ViewModels.KisiAdresViewModel

<h3>Tebrikler</h3>
<p>@Model.Kisi.Ad</p>
<p>@Model.Kisi.Soyad</p>
<p>@Model.Kisi.Yas</p>
<p>@Model.Adres.Sehir</p>
<p>@Model.Adres.AdresTanim</p>